* {
    margin: 0;
    /* for page remove margin  */
    padding: 0px;
    /* for page remove padding */
    box-sizing: border-box;
    /* creat a border box */
    -webkit-box-sizing: border-box;
  }
img{
  height: auto;
}
  body{
  background-image: url("alphabets-falling.jpg");
  font-style: italic;
  text-align: center;
  font-size: 28px;
  /* background-color: #eeee6aee; */
  color: #185e57;
  }

  h1{
    font-family: sans-serif;
    color: #28334AFF  ;
    text-align: center;
    padding-top: 50px;
  }
  
  .enter{
   padding: 30px;
  }
  h2{
    color: #F65058FF ;
    font-size: 24px;
    font-family: cursive;
    text-align: center;
    padding: 10px;
    border: 2px black solid;
    display: inline-block;
    margin-bottom: 23px;
  }
  .winner{
    display: none;
  }
   
  button {
  border: none;
  background-color: #2C3E50;
  box-shadow: 0px 5px 0px 0px #1C2833;
  outline: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #FEF5E7;

}
.buttons, .restart_button {
text-align: center;
padding: 50px 0px;
}
button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

  #start-a:hover, #start-b:hover, #restartButton:hover {
  background-color: #d1e6e6;
  color:#1C2833;
  transition-duration: 0.8s;
  }
  .typers{
  display: flex;
  justify-content: center;

  }
  .typer1,.typer2{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-top: 2px solid black;
  }
  .typer1{
    border-right: 2px solid black;
  }
  
  #typer_a, #typer_b {
    border: 1px solid #1C2833;
    border-color: #1C2833;
    border-radius: 5px;
    outline: none;
    box-shadow: 0px 5px 0px 0px #1C2833;
    background-color: #d1e6e6;
    color: black;
    font-size: 15px;
    margin:15px;
    padding: 15px 10px;

  }
