* {
    margin: 0;
    /* for page remove margin  */
    padding: 0px;
    /* for page remove padding */
    box-sizing: border-box;
    /* creat a border box */
  }
  
  h1{
    font-style: italic;
    font-family: cursive;
    font-size: 28px;
    text-align: center;
    padding-top: 50px;
  }
  h2{
    font-family: cursive;
    text-align: center;
  }
  
  .buttons, .restart_button {
  text-align: center;
  padding: 50px 0px;
  }
  .typers{
    display: flex;
  justify-content: center;
  
  }
  .typer1,.typer2{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-top: 1px solid black;
  }
  .typer1{
    border-right: 1px solid black;
  }
  